<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Deal Finder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="{% static 'image/png' %}" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
					</div>

<div class="right-top-bar flex-w h-full">
    
	<a href="{% url 'profile' %}" class="flex-c-m trans-04 p-lr-25">
        My Profile
    </a>
    <div class="right-top-bar flex-w h-full"  	 	style="display: flex; align-items: center;">
		<div class="right-top-bar flex-w h-full"  	 	style="display: flex; align-items: center;">
        {% if request.session.Username %}
            <a href="{% url 'user_logout' %}"><i class="fa fa-user-o"></i>Welcome {{request.session.Username}} / Logout</a>
        {% else %}
            <a href="{% url 'regpage' %}"><i class="fa fa-user-o"></i> Register or Login</a>
        {% endif %}
    </div>
</div>




			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="{% static 'images/OIP (1).jpg' %}" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="{% url 'userhome' %}">Home</a>
								
							</li>

							<li>
								<a href="{% url 'protpage' %}">Shop</a>
							</li>

							<li>
								<a href="{% url 'cartpage' %}">My Products</a>
							</li>
							<li>
    							<a href="{% url 'sellpage' %}">Sell Product</a>
							</li>


							<li>
								<a href="{% url 'aboutpage2' %}">About</a>
							</li>

							<li>
								<a href="{% url 'conpage' %}">Contact</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->

					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

<!--						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">-->
<!--							<i class="zmdi zmdi-shopping-cart"></i>-->
<!--						</div>-->

<!--						<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">-->
<!--							<i class="zmdi zmdi-favorite-outline"></i>-->
<!--						</a>-->
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="{% static 'images/icons/OIP (1).jpg' %}" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

<!--				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">-->
<!--					<i class="zmdi zmdi-shopping-cart"></i>-->
<!--				</div>-->

<!--				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">-->
<!--					<i class="zmdi zmdi-favorite-outline"></i>-->
<!--				</a>-->
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
<!--							Help & FAQs-->
						</a>

						<a href="{% url 'profile' %}" class="flex-c-m p-lr-10 trans-04">
							My Profile
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							USD
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="{% url 'userhome' %}">Home</a>
					<ul class="sub-menu-m">
						<!-- <li><a href="{% url 'userhome' %}">Homepage 1</a></li> -->
						
						
<!--						<li><a href="home-03.html">Homepage 3</a></li>-->
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="{% url 'protpage' %}">Shop</a>
				</li>


				<li>
					<a href="{% url 'cartpage' %}">My Products</a>
				</li>

				<li>
					<a href="{ % url 'aboutpage2' %}">About</a>
				</li>

				<li>
					<a href="{% url 'conpage' %}">Contact</a>
				</li>
			</ul>
		</div>


		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="{% static 'images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>
			
				<form class="wrap-search-header flex-w p-l-15" method="post" action="{% url 'search' %}">
					{% csrf_token %}
					<button class="flex-c-m trans-04" type="submit">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="product" placeholder="Search Product" required>
				</form>
			</div>
		</div>
	</header>
{% block content %}
	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-01.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-02.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'images/item-cart-03.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>

				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					
				</div>
			</div>
		</div>
	</div>



	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
			<div class="item-slick1" style="background-image: url('/static/images/arnel-hasanovic-4oWSXdeAS2g-unsplash.jpg');">
				<div class="container h-full">
    				<div class="flex-col-l-m h-full p-t-100 p-b-30">
        				<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
           					 <span class="ltext-202 cl2 respon2" style="color: white;">
                					Sell and Buy Your Items
           					 </span>
        				</div>

        			<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
            			<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1" style="color: white;">
                			Deal Finder
            			</h2>
        			</div>

							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="{% url 'sellpage' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Sell Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url('{% static 'images/tomas-evaristo-G03vSUk9wR0-unsplash.jpg' %}');">
<div class="container h-full">
    <div class="flex-col-l-m h-full p-t-100 p-b-30">
        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
            <span class="ltext-202 cl2 respon2" style="color: white;">
                Sell and Buy Your Items
            </span>
        </div>

        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1" style="color: white;">
                Deal Finder
            </h2>
        </div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="{% url 'sellpage' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Sell Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url('{% static 'images/daniel-korpai-HyTwtsk8XqA-unsplash.jpg' %}');">
					<div class="container h-full">
    <div class="flex-col-l-m h-full p-t-100 p-b-30">
        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
            <span class="ltext-202 cl2 respon2" style="color: white;">
                Sell and Buy Your Items
            </span>
        </div>

        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
            <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1" style="color: white;">
                Deal Finder
            </h2>
        </div>

							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="{% url 'sellpage' %}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Sell Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><br><br>


	<!-- Banner -->
<div class="col-md-12">
    <div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Our Categories
				</h3>
			</div>

</div>
<style>
    .block1 img {
        width: 100%; /* Ensure images fill their containers */
        height: 200px; /* Set a fixed height for all images */
        object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
    }
</style>

<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
			{% for i in cat %}
			<div class="col-md-6 col-xl-4 p-b-30">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="{{ i.Cat_Image.url }}" alt="IMG-BANNER">
					<form action="{% url 'filtered_page' product_name=i.Product_Name %}">
						<a class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8" style="color: white;">{{ i.Product_Name }}</span>
								<span class="block1-info stext-102 trans-04" style="color: white;">{{ i.Description }}</span>
							</div>
							<div class="block1-txt-child2 p-b-4 trans-05">
								<button class="block1-link stext-101 cl0 trans-09" type="submit">Shop Now</button>
							</div>
						</a>
					</form>
				</div>
				<!-- End Block1 -->
			</div>
		{% endfor %}
        </div>
    </div>
</div>




<!--				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">-->
<!--					&lt;!&ndash; Block1 &ndash;&gt;-->
<!--					<div class="block1 wrap-pic-w">-->
<!--						<img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER">-->

<!--						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">-->
<!--							<div class="block1-txt-child1 flex-col-l">-->
<!--								<span class="block1-name ltext-102 trans-04 p-b-8">-->
<!--									Men-->
<!--								</span>-->

<!--								<span class="block1-info stext-102 trans-04">-->
<!--									Spring 2018-->
<!--								</span>-->
<!--							</div>-->

<!--							<div class="block1-txt-child2 p-b-4 trans-05">-->
<!--								<div class="block1-link stext-101 cl0 trans-09">-->
<!--									Shop Now-->
<!--								</div>-->
<!--							</div>-->
<!--						</a>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">-->
<!--					&lt;!&ndash; Block1 &ndash;&gt;-->
<!--					<div class="block1 wrap-pic-w">-->
<!--						<img src="{% static 'images/banner-03.jpg' %}" alt="IMG-BANNER">-->

<!--						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">-->
<!--							<div class="block1-txt-child1 flex-col-l">-->
<!--								<span class="block1-name ltext-102 trans-04 p-b-8">-->
<!--									Accessories-->
<!--								</span>-->

<!--								<span class="block1-info stext-102 trans-04">-->
<!--									New Trend-->
<!--								</span>-->
<!--							</div>-->

<!--							<div class="block1-txt-child2 p-b-4 trans-05">-->
<!--								<div class="block1-link stext-101 cl0 trans-09">-->
<!--									Shop Now-->
<!--								</div>-->
<!--							</div>-->
<!--						</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->


	<!-- Product -->
<!--	<section class="bg0 p-t-23 p-b-140">-->
<!--		<div class="container">-->
<!--			<div class="p-b-10">-->
<!--				<h3 class="ltext-103 cl5">-->
<!--					Product Overview-->
<!--				</h3>-->
<!--			</div>-->

<!--			<div class="flex-w flex-sb-m p-b-52">-->
<!--				<div class="flex-w flex-l-m filter-tope-group m-tb-10">-->
<!--&lt;!&ndash;					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">&ndash;&gt;-->
<!--&lt;!&ndash;						All Products&ndash;&gt;-->
<!--&lt;!&ndash;					</button>&ndash;&gt;-->

<!--&lt;!&ndash;					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">&ndash;&gt;-->
<!--&lt;!&ndash;						Women&ndash;&gt;-->
<!--&lt;!&ndash;					</button>&ndash;&gt;-->

<!--&lt;!&ndash;					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">&ndash;&gt;-->
<!--&lt;!&ndash;						Men&ndash;&gt;-->
<!--&lt;!&ndash;					</button>&ndash;&gt;-->

<!--&lt;!&ndash;					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">&ndash;&gt;-->
<!--&lt;!&ndash;						Bag&ndash;&gt;-->
<!--&lt;!&ndash;					</button>&ndash;&gt;-->

<!--&lt;!&ndash;					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">&ndash;&gt;-->
<!--&lt;!&ndash;						Shoes&ndash;&gt;-->
<!--&lt;!&ndash;					</button>&ndash;&gt;-->

<!--&lt;!&ndash;					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">&ndash;&gt;-->
<!--&lt;!&ndash;						Watches&ndash;&gt;-->
<!--&lt;!&ndash;					</button>&ndash;&gt;-->
<!--				</div>-->

<!--&lt;!&ndash;				<div class="flex-w flex-c-m m-tb-10">&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">&ndash;&gt;-->
<!--&lt;!&ndash;						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>&ndash;&gt;-->
<!--&lt;!&ndash;						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;						 Filter&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--&lt;!&ndash;					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">&ndash;&gt;-->
<!--&lt;!&ndash;						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;						Search&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--				</div>-->

<!--				&lt;!&ndash; Search product &ndash;&gt;-->
<!--&lt;!&ndash;				<div class="dis-none panel-search w-full p-t-10 p-b-15">&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="bor8 dis-flex p-l-15">&ndash;&gt;-->
<!--&lt;!&ndash;						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;							<i class="zmdi zmdi-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;						</button>&ndash;&gt;-->

<!--&lt;!&ndash;						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;				</div>&ndash;&gt;-->

<!--&lt;!&ndash;				&lt;!&ndash; Filter &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;				<div class="dis-none panel-filter w-full p-t-10">&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="filter-col1 p-r-15 p-b-27">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="mtext-102 cl2 p-b-15">&ndash;&gt;-->
<!--&lt;!&ndash;								Sort By&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<ul>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Default&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Popularity&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Average rating&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">&ndash;&gt;-->
<!--&lt;!&ndash;										Newness&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Price: Low to High&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Price: High to Low&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;							</ul>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						<div class="filter-col2 p-r-15 p-b-27">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="mtext-102 cl2 p-b-15">&ndash;&gt;-->
<!--&lt;!&ndash;								Price&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<ul>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">&ndash;&gt;-->
<!--&lt;!&ndash;										All&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										$0.00 - $50.00&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										$50.00 - $100.00&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										$100.00 - $150.00&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										$150.00 - $200.00&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										$200.00+&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;							</ul>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						<div class="filter-col3 p-r-15 p-b-27">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="mtext-102 cl2 p-b-15">&ndash;&gt;-->
<!--&lt;!&ndash;								Color&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<ul>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<span class="fs-15 lh-12 m-r-6" style="color: #222;">&ndash;&gt;-->
<!--&lt;!&ndash;										<i class="zmdi zmdi-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;									</span>&ndash;&gt;-->

<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Black&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">&ndash;&gt;-->
<!--&lt;!&ndash;										<i class="zmdi zmdi-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;									</span>&ndash;&gt;-->

<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">&ndash;&gt;-->
<!--&lt;!&ndash;										Blue&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">&ndash;&gt;-->
<!--&lt;!&ndash;										<i class="zmdi zmdi-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;									</span>&ndash;&gt;-->

<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Grey&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">&ndash;&gt;-->
<!--&lt;!&ndash;										<i class="zmdi zmdi-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;									</span>&ndash;&gt;-->

<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Green&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">&ndash;&gt;-->
<!--&lt;!&ndash;										<i class="zmdi zmdi-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;									</span>&ndash;&gt;-->

<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										Red&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->

<!--&lt;!&ndash;								<li class="p-b-6">&ndash;&gt;-->
<!--&lt;!&ndash;									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">&ndash;&gt;-->
<!--&lt;!&ndash;										<i class="zmdi zmdi-circle-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;									</span>&ndash;&gt;-->

<!--&lt;!&ndash;									<a href="#" class="filter-link stext-106 trans-04">&ndash;&gt;-->
<!--&lt;!&ndash;										White&ndash;&gt;-->
<!--&lt;!&ndash;									</a>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;							</ul>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->

<!--&lt;!&ndash;						<div class="filter-col4 p-b-27">&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="mtext-102 cl2 p-b-15">&ndash;&gt;-->
<!--&lt;!&ndash;								Tags&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->

<!--&lt;!&ndash;							<div class="flex-w p-t-4 m-r&#45;&#45;5">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">&ndash;&gt;-->
<!--&lt;!&ndash;									Fashion&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">&ndash;&gt;-->
<!--&lt;!&ndash;									Lifestyle&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">&ndash;&gt;-->
<!--&lt;!&ndash;									Denim&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">&ndash;&gt;-->
<!--&lt;!&ndash;									Streetstyle&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->

<!--&lt;!&ndash;								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">&ndash;&gt;-->
<!--&lt;!&ndash;									Crafts&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;				</div>&ndash;&gt;-->
<!--			</div>-->
<!--<div class="row isotope-grid">-->
<!--    {% for i in pro %}-->
<!--        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">-->
<!--            &lt;!&ndash; Block2 &ndash;&gt;-->
<!--            <div class="block2">-->
<!--                <div class="block2-pic hov-img0">-->
<!--                    <img src="{{ i.Product_Image.url }}" alt="IMG-PRODUCT">-->
<!--                    <a href="" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">-->
<!--                        Quick View-->
<!--                    </a>-->
<!--                </div>-->

<!--                <div class="block2-txt flex-w flex-t p-t-14">-->
<!--                    <div class="block2-txt-child1 flex-col-l">-->
<!--                        <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">-->
<!--                            {{ i.Product_Name }}-->
<!--                        </a>-->
<!--                        <span class="stext-105 cl3">-->
<!--                            {{ i.Price }}-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--	</section>-->




	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">

					</form>
				</div>
			</div>

			<div class="p-t-40">
				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Deal Finder</a> &amp; distributed by <a href="" target="_blank">Deal Finder</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>

{% endblock %}

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="{% static 'images/product-detail-01.jpg' %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-01.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static 'images/product-detail-01.jpg' %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="{% static 'images/product-detail-02.jpg' %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-02.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static 'images/product-detail-02.jpg' %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="{% static 'images/product-detail-03.jpg' %}">
										<div class="wrap-pic-w pos-relative">
											<img src="{% static 'images/product-detail-03.jpg' %}" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{% static 'images/product-detail-03.jpg' %}">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>

							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
	{% for message in messages %}
		<script>
			swal('{{ message }}', '', '{{ message.tags }}');
		</script>
	{% endfor %}
{% endif %}
</html>